.post{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1.5px solid rgb(230, 226, 226);
    

}

.post__row1{
    display: flex;
    align-items: center;
    
}
.post__column1{
    padding-right: 20px;

}
.post__row1 img{
    height: 40px;
    width: 40px; 
    border-radius: 50%;
    background-color: grey;
}


.post__input{
    height: 12px;
    padding: 15px;
    width: 100%;
    margin-left: 10px;
    border-radius: 25px;
    border:1px solid grey;

    color:#333;
    font-family:sans-serif;
    position:relative;
    
}

.post__row2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3px;
    
}

.post__column2{
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
 
}
.post__column2:hover{
    background-color: rgb(235, 233, 233);
}
.post__column2 span{
    padding-right: 10px;
}